/* App.css */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.App {
  background-color: #f0f0f0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e90ff;
  width: 100%;
  padding: 10px 8px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, top 0.3s ease;
  z-index: 1000;
}

.App-header.visible {
  top: 0;
}

.App-header.hidden {
  top: -60px; /* Adjust according to the height of the header */
}

.App-header h1 {
  font-size: 18px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.back-icon {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.search-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.date-selector {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 0 0; /* Adjusted to avoid overlap with fixed header */
  width: 100%;
}

.date-button {
  flex: 1;
  margin: 0;
  padding: 10px 0;
  background-color: #1e90ff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flight-list {
  width: 100%;
  background-color: #ffffff;
  padding: 2px 0;
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.scroll-to-top {
  position: fixed;
  bottom: 60px; /* Adjust to place above the BottomBar */
  right: 20px;
  background-color: #1e90ff;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .flight > div, .ticket-header > div {
    padding: 5px;
  }

  .ticket-header > div {
    font-size: 14px;
  }
}

.flight {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.flight:last-child {
  border-bottom: none;
}
